<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body_and_defaults.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <title>{{ values['title'] }}</title>
</head>
<body>
    <h1>{{ values['title'] }} - Secure</h1>
    <div class="main-box">
        {% if values['stage'] == 0 %}
            <h4 style="color: rgb(255, 119, 0);">Deleting your account is an irreversible action. Once you complete the steps your account will be immediately deleted and completely unrecoverable.</h4>
            <h4 style="padding-top: 20px;">Are you sure you want to delete your account?</h4>
            <form style="padding-top: 0;" action="/{{ values['route'] }}" method="POST">
                <!-- PUT CSRF TOKEN HERE -->
                <input type="hidden" name="auth_token" value="{{ token }}">
                <div class="submit-btns">
                    <input class="confirm-btn" type="submit" name="submit_button" value="Confirm">
                    <input class="cancel-btn" type="submit" name="submit_button" value="Cancel">
                </div>
            </form>
        {% elif values['stage'] == 1 %}
            <h4>Please enter your {% if 'Password' in values['title'] %}current {% endif %}password to continue.</h4>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form style="padding-top: 4px;" action="/{{ values['route'] }}" method="POST">
                <!-- PUT CSRF TOKEN HERE -->
                <input type="hidden" name="auth_token" value="{{ token }}">
                <input class="auth-input" type="password" name="password" placeholder="Password">
                <div class="submit-btns">
                    <input class="confirm-btn" type="submit" name="submit_button" value="Confirm">
                    <input class="cancel-btn" type="submit" name="submit_button" value="Cancel">
                </div>
            </form>
        {% elif values['stage'] == 2 %}
            {% if 'Delete' in values['title'] %}
                <h4 style="color: rgb(255, 119, 0); margin-bottom: -10px;">{{ values['message'] }}</h4>
            {% else %}
                <h4>{{ values['message'] }}</h4>
            {% endif %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form style="padding-top: 4px;" action="/{{ values['route'] }}" method="POST" id="authForm">
                <!-- PUT CSRF TOKEN HERE -->
                <input type="hidden" name="auth_token" value="{{ token }}">
                {% if 'Password' in values['title'] %}
                    <input class="auth-input" type="password" id="password" onkeyup="checkPasswordStrength()" name="password" placeholder="Password">
                    <div id="password-strength" class="password-strength"></div>
                    <input class="auth-input" style="margin-top: 10px;" type="password" name="confirm_password" placeholder="Confirm Password">
                {% elif 'Email' in values['title'] %}
                    <input class="auth-input email-input" type="email" name="email" placeholder="Email">
                {% endif %}
                <div class="submit-btns">
                    <input class="confirm-btn" type="submit" name="submit_button" value="Confirm">
                    <input class="cancel-btn" type="submit" name="submit_button" value="Cancel" onclick="cancelForm()">
                    <script>
                        function cancelForm() {
                            var form = document.getElementById('authForm');
                            form.noValidate = true;
                            form.submit();
                        }
                    </script>
                </div>
            </form>
        {% elif values['stage'] == 3 %}
            <h4>{{ values['message'] }}</h4>
            {% if 'Email' in values['title'] %}
            <h4 style="font-weight: 100;">{{ values['new_email'] }}</h4>
            {% endif %}
            <div class="return-btn-box">
                {% if not 'Delete' in values['title'] and not 'Reset' in values['title'] %}
                    <a class="return-btn" href="{{ url_for('scoreboard.scoreboard_page', username=values['username']) }}">Return to Profile</a>
                {% endif %}
                <a class="return-btn" href="{{ url_for('main.index') }}">Return to Home</a>
            </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='scripts/password_checker.js') }}"></script>
</body>
</html>