{% extends 'layout.html' %}
{% block game_title %}{{game_name}}{% endblock %}
{% block game_title_small %}
  {% for word in game_name.split() %}
    {% if word == 'Facts' or word == 'Jokes' or word == 'General' or word == 'Music' or word == 'to' or word == 'Reach' %}
    {{ word }}
    {% elif word == 'Geography' or word == 'Entertainment' or word == 'Number' %}
    {{ word[0:3] }}
    {% elif word == 'Language' or word == 'Mathematics' %}
    {{ word[0:4] }}
    {% else %}
    {{ word[0] }}
    {% endif %}
  {% endfor %}
{% endblock %}
{% block content %}
{% if in_game == "before" %}
    <h1 class="question-title">Welcome to {{ game_name }}!</h1>
    <h2 class="question-title-2">Choose a category:</h2>
    <div class="all-categories">
        {% for category in categories %}
            <div class="category">
                <form method="GET" action="/game_setup">
                    <input type="hidden" name="in_game" value="intro">
                    <input type="hidden" name="category" value="{{ category }}">
                    <input type="hidden" name="game_type" value="{{ game_type }}">
                    <input class="category-name" type="submit" value="{{ category }}">
                </form>
            </div>
        {% endfor %}
    </div>
    <div class="all-categories-button-container">
        <form method="GET" action="/game_setup">
            <input type="hidden" name="in_game" value="intro">
            <input type="hidden" name="category" value="All">
            <input type="hidden" name="game_type" value="{{ game_type }}">
            <input class="all-categories-button" type="submit" value="Play All Categories">
        </form>
    </div>
{% elif in_game == "intro" %}
    <h1 class="question-title">{{ game_name }}</h1>
    <div class="pre-game">
        <p class="instruction-text">{{ game.intro_message }} You will have XX seconds to type your answer for each question. The quicker you answer, the more points you'll get.<br><b>Good luck!</b></p>
        <form method="POST" action="/game_play">
            <h2 class="level-selection-title">Speed level (time to answer):</h2>
            <div class="level-selection">
                <div class="level">
                    <input class="level-radio" type="radio" id="easy" name="speed" value="60">
                    <label for="easy"><b style="color:cornflowerblue;">Easy</b> (60 seconds)</label>
                </div>
                <div class="level">
                    <input class="level-radio" type="radio" id="medium" name="speed" value="30" checked>
                    <label for="medium"><b style="color:cornflowerblue;">Medium</b> (30 seconds)</label>
                </div>
                <div class="level">
                    <input class="level-radio" type="radio" id="hard" name="speed" value="15">
                    <label for="hard"><b style="color:cornflowerblue;">Hard</b> (15 seconds)</label>
                </div>
            </div>
            {% if game.has_difficulty %}
                <h2 class="level-selection-title">Difficulty level:</h2>
                <div class="level-selection">
                    <div class="level">
                        <input class="level-radio" type="radio" id="easy2" name="difficulty" value="easy">
                        <label for="easy2"><b style="color:cornflowerblue;">Easy</b></label>
                    </div>
                    <div class="level">
                        <input class="level-radio" type="radio" id="medium2" name="difficulty" value="medium" checked>
                        <label for="medium2"><b style="color:cornflowerblue;">Medium</b></label>
                    </div>
                    <div class="level">
                        <input class="level-radio" type="radio" id="hard2" name="difficulty" value="hard">
                        <label for="hard2"><b style="color:cornflowerblue;">Hard</b></label>
                    </div>
                </div>
            {% endif %}
            <input type="hidden" name="in_game" value="start">
            <input type="hidden" name="token" value="{{ token }}">
            <input class="submit-game" type="submit" value="Start Game">
        </form>
    </div>
{% elif in_game == "yes" %}
    <h1 class="question-title-opening">Your {{ game.question_numbers[question_no] }} question will be revealed in <b class="before-countdown">3</b> seconds.</h1>
    <h1 class="question-in-game" style="display: none;">{{ next_question["question"] }}</h1>
    <h1 class="in-countdown" style="display: none;">{{ timer }}</h1>
    <h3 id="hint-message" class="hint-messages"></h3>
    <div class="game-box" style="display: none;">
        <form method="POST" action="/game_answer" data-selection-choice="{% if "_mc" in game.param or "_tf" in game.param %}true{% else %}false{% endif %}">
            {% if "_mc" in game.param %}
                <div class="mc_answer-selection">
                    {% for answer in next_question["all_answers"] %}
                        <div class="mc_answer" id="{{ answer | replace(" ", "_") }}_box">
                            <input class="mc_answer-radio" type="radio" id="{{ answer | replace(" ", "_") }}" name="answer" value="{{ answer }}">
                            <label for="{{ answer | replace(" ", "_") }}">{{ answer }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% elif "_tf" in game.param %}
                <div class="tf_answer-selection">
                    <div class="tf_answer" id="True_box">
                        <input class="tf_answer-radio" type="radio" id="True" name="answer" value="True">
                        <label for="True">True</label>
                    </div>
                    <div class="tf_answer" id="False_box">
                        <input class="tf_answer-radio" type="radio" id="False" name="answer" value="False">
                        <label for="False">False</label>
                    </div>
                </div>
            {% else %}
                <input class="answer-input" type="text" name="answer" placeholder="Type your answer here" autocomplete="off" autofocus>
            {% endif %}
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="countdown_timer" id="countdown-timer" value="10">
            <input type="submit" class="submit-game" value="Submit Answer">
        </form>
        <div class="helper-box">
            {% if "_mc" in game.param %}
                <div class="helper-buttons">
                    <form class="remove-higher-form" method="POST" action="/remove_higher">
                        <input type="hidden" name="token" value="{{ token }}">
                        <button class="remove-higher">Remove higher wrong answer</button>
                    </form>
                    <form class="remove-lower-form" method="POST" action="/remove_lower">
                        <input type="hidden" name="token" value="{{ token }}">
                        <button class="remove-lower">Remove lower wrong answer</button>
                    </form>
                </div>
                <div class="helper-button-tags">
                    <p class="remove-higher-tag" id="remove-higher-text">{{ helpers['r_higher_card'] }}</p>
                    <p class="remove-lower-tag" id="remove-lower-text">{{ helpers['r_lower_card'] }}</p>
                </div>
            {% elif "fill_blank" in game.param or "trivia_madness" in game.param %}
                <div class="helper-buttons">
                    <form class="reveal-letter-form" method="POST" action="/reveal_letter">
                        <input type="hidden" name="token" value="{{ token }}">
                        <button class="reveal-letter">Reveal a letter</button>
                    </form>
                    <form class="reveal-length-form" method="POST" action="/reveal_length">
                        <input type="hidden" name="token" value="{{ token }}">
                        <button class="reveal-length">Reveal length</button>
                    </form>
                </div>
                <div class="helper-button-tags">
                    <p class="reveal-letter-tag" id="reveal-letter-text">{{ helpers['reveal_card'] }}</p>
                    <p class="reveal-length-tag" id="reveal-length-text">{{ helpers['length_card'] }}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% else %}
    {% if correct %}
        <div class="after-answer">
            {% if "_tf" in game.param %}
                <h2 class="correct-answer-text">You are right!</h2>
                {% if statement %}
                    <h2 class="correct-answer-text"><b class="correct-answer">'{{ real_answer }}'</b></h2>
                {% else %}
                    <h2 class="correct-answer-text">Here's the correction:</h2>
                    <h2 class="correct-answer-text"><b class="correct-answer">'{{ real_answer }}'</b></h2>
                {% endif %}
            {% elif "number" in game.param %}
                <h2 class="correct-answer-text">You are right!</h2>
                <h2 class="correct-answer-text"><b class="correct-answer">{{ real_answer }}</b></h2>
            {% else %}
                <h2 class="correct-answer-text"><b class="correct-answer">'{{ real_answer }}'</b> is the correct answer!</h2>
            {% endif %}
            <h2 class="current-score-text">You answered in <b class="score">{{ seconds }} seconds.</b></h2>
            <h2 class="current-score-text"><b class="score">+{{ new_points }} points</b></h2>
            {% if question_no >= 10 %}
                <h2 class="current-score-text">Your final score: <b class="score">{{ score }} points!</b></h2>
            {% else %}
                <h2 class="current-score-text">Your score: <b class="score">{{ score }} points</b></h2>
            {% endif %}
        </div>
    {% else %}
        {% if seconds == 0 %}
            <h1 class="question-over"><b>Time up!</b></h1>
        {% endif %}
        <div class="after-answer">
            {% if "_tf" in game.param %}
                <h2 class="correct-answer-text">Sorry!</h2>
                {% if statement %}
                    <h2 class="correct-answer-text">True was the correct answer.</h2>
                    <h2 class="correct-answer-text"><b class="correct-answer">'{{ real_answer }}'</b></h2>
                {% else %}
                    <h2 class="correct-answer-text">False was the correct answer.</h2>
                    <h2 class="correct-answer-text">Here's the correction:</h2>
                    <h2 class="correct-answer-text"><b class="correct-answer">'{{ real_answer }}'</b></h2>
                {% endif %}
            {% elif "number" in game.param %}
                <h2 class="correct-answer-text">Sorry! It was actually this:</h2>
                <h2 class="correct-answer-text"><b class="correct-answer">{{ real_answer }}</b></h2>
            {% else %}
                <h2 class="correct-answer-text">Sorry! The correct answer was <b class="correct-answer">'{{ real_answer }}'</b>.</h2>
            {% endif %}
            {% if question_no >= 10 %}
                <h2 class="current-score-text">Your final score is <b class="score">{{ score }} points</b>.</h2>
            {% else %}
                <h2 class="current-score-text">Your current score is <b class="score">{{ score }} points</b>.</h2>
            {% endif %}
        </div>
    {% endif %}
    <div class="after-answer">
        {% if question_no >= 10 %}
            <form method="POST" action="/game_finish">
                <input type="hidden" name="token" value="{{ token }}">
                {% if user.is_authenticated %}
                    <input class="message-input" type="text" name="message" placeholder="Victory message..." autocomplete="off" autofocus>
                {% endif %}
                <input class="submit-game" type="submit" value="Scoreboard">
            </form>
        {% else %}
            <form method="POST" action="/game_play">
                <input type="hidden" name="token" value="{{ token }}">
                <input type="hidden" name="question_no" value="{{ question_no }}">
                <input class="submit-game" type="submit" value="Next Question">
            </form>
        {% endif %}
    </div>
{% endif %}

<script src="{{ url_for('static', filename='scripts/in_game_functions.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/helper_apis.js') }}"></script>

{% endblock %}