{% extends 'layout.html' %}
{% block game_title %}{{game_name}}{% endblock %}
{% block game_title_small %}
  {% for word in game_name.split() %}
    {% if word == 'Facts' or word == 'Jokes' or word == 'General' or word == 'Music' or word == 'to' or word == 'Reach' %}
    {{ word }}
    {% elif word == 'Geography' or word == 'Entertainment' or word == 'Number' %}
    {{ word[0:3] }}
    {% elif word == 'Language' or word == 'Mathematics' %}
    {{ word[0:4] }}
    {% else %}
    {{ word[0] }}
    {% endif %}
  {% endfor %}
{% endblock %}
{% block content %}
{% if in_game == "before" %}
    <h1>Welcome to {{ game_name }}!</h1>
    <h3>Choose a category:</h3>
    <div class="all-categories">
        {% for category in categories %}
            <div class="category">
                <form method="GET" action="/game_setup">
                    <input type="hidden" name="in_game" value="intro">
                    <input type="hidden" name="category" value="{{ category }}">
                    <input type="hidden" name="game_type" value="{{ game_type }}">
                    <input class="category-name absolute-box" type="submit" value="{{ category }}">
                </form>
            </div>
        {% endfor %}
    </div>
    <div class="all-categories-btn-container">
        <form method="GET" action="/game_setup">
            <input type="hidden" name="in_game" value="intro">
            <input type="hidden" name="category" value="All">
            <input type="hidden" name="game_type" value="{{ game_type }}">
            <input class="all-categories-btn box-btn" type="submit" value="Play All Categories">
        </form>
    </div>
{% elif in_game == "intro" %}
    <h1>{{ game_name }}</h1>
    <div class="pre-game-box">
        <p class="instruction-text">{{ game.intro_message }} The quicker you answer, the more points you'll get.<br><b>Good luck!</b></p>
        <form method="POST" action="/game_play">
            <h2>Speed level (time to answer):</h2>
            <div class="pre-selection-box">
                <div class="selector-class">
                    <input type="radio" id="easy" name="speed" value="60">
                    <label for="easy"><b style="color:cornflowerblue;">Easy</b> (60 seconds)</label>
                </div>
                <div class="selector-class">
                    <input type="radio" id="medium" name="speed" value="30" checked>
                    <label for="medium"><b style="color:cornflowerblue;">Medium</b> (30 seconds)</label>
                </div>
                <div class="selector-class">
                    <input type="radio" id="hard" name="speed" value="15">
                    <label for="hard"><b style="color:cornflowerblue;">Hard</b> (15 seconds)</label>
                </div>
            </div>
            {% if game.has_difficulty %}
                <h2>Difficulty level:</h2>
                <div class="pre-selection-box">
                    <div class="selector-class">
                        <input type="radio" id="easy2" name="difficulty" value="easy" {% if difficulty == "easy" %}checked{% endif %}>
                        <label for="easy2"><b style="color:cornflowerblue;">Easy</b></label>
                    </div>
                    <div class="selector-class">
                        <input type="radio" id="medium2" name="difficulty" value="medium" {% if difficulty == "medium" %}checked{% endif %}>
                        <label for="medium2"><b style="color:cornflowerblue;">Medium</b></label>
                    </div>
                    <div class="selector-class">
                        <input type="radio" id="hard2" name="difficulty" value="hard" {% if difficulty == "hard" %}checked{% endif %}>
                        <label for="hard2"><b style="color:cornflowerblue;">Hard</b></label>
                    </div>
                </div>
            {% endif %}
            <input type="hidden" name="in_game" value="start">
            <input type="hidden" name="token" value="{{ token }}">
            <input class="submit-game-btn" type="submit" value="Start Game">
        </form>
    </div>
{% elif in_game == "yes" %}
    <h1 class="func-pre">Your {{ game.question_numbers[question_no] }} question will be revealed in <b class="before-countdown">3</b> seconds.</h1>
    <h1 class="func-in" style="display: none; font-weight: 100;">{{ next_question["question"] }}</h1>
    <h1 class="in-countdown" style="display: none;">{{ timer }}</h1>
    <h4 id="hint-message" class="hint-messages"></h4>
    <div class="in-game-box" style="display: none;">
        <form method="POST" action="/game_answer" data-selection-choice="{% if "_mc" in game.param or "_tf" in game.param %}true{% else %}false{% endif %}">
            {% if "_mc" in game.param %}
                <div class="answer-selection-box">
                    {% for answer in next_question["all_answers"] %}
                        <div class="selector-class answer-selector" id="{{ answer | replace(" ", "_") }}_box">
                            <input class="answer-radio" type="radio" id="{{ answer | replace(" ", "_") }}" name="answer" value="{{ answer }}">
                            <label for="{{ answer | replace(" ", "_") }}">{{ answer }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% elif "_tf" in game.param %}
                <div class="answer-selection-box">
                    <div class="selector-class answer-selector" id="True_box">
                        <input class="answer-radio" type="radio" id="True" name="answer" value="True">
                        <label for="True">True</label>
                    </div>
                    <div class="selector-class answer-selector" id="False_box">
                        <input class="answer-radio" type="radio" id="False" name="answer" value="False">
                        <label for="False">False</label>
                    </div>
                </div>
            {% else %}
                {% if "trivia_madness" in game.param %}
                    <h4 style="margin-top: 0">The answer is {{ next_question["answer"] | count_words }}.</h4>
                {% endif %}
                <input class="answer-input" type="text" name="answer" placeholder="Type your answer here" autocomplete="off" autofocus>
            {% endif %}
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="countdown_timer" id="countdown-timer" value="10">
            <input type="submit" class="submit-game-btn" value="Submit Answer">
        </form>
        <div class="helper-box">
            {% if "_mc" in game.param %}
                <div class="helper-buttons">
                    <form class="remove-higher-form" method="POST" action="/remove_higher">
                        <input type="hidden" name="token" value="{{ token }}">
                        <button class="box-btn remove-higher-btn">Remove higher wrong answer</button>
                    </form>
                    <form class="remove-lower-form" method="POST" action="/remove_lower">
                        <input type="hidden" name="token" value="{{ token }}">
                        <button class="box-btn remove-lower-btn">Remove lower wrong answer</button>
                    </form>
                </div>
                <div class="helper-button-tags">
                    <p class="remove-higher-tag" id="remove-higher-text">{{ helpers['remove_higher_card'] }}</p>
                    <p class="remove-lower-tag" id="remove-lower-text">{{ helpers['remove_lower_card'] }}</p>
                </div>
            {% elif "fill_blank" in game.param or "trivia_madness" in game.param %}
                <div class="helper-buttons">
                    <form class="reveal-letter-form" method="POST" action="/reveal_letter">
                        <input type="hidden" name="token" value="{{ token }}">
                        <button class="box-btn reveal-letter-btn">Reveal a letter</button>
                    </form>
                    <form class="reveal-length-form" method="POST" action="/reveal_length">
                        <input type="hidden" name="token" value="{{ token }}">
                        <button class="box-btn reveal-length-btn">Reveal length</button>
                    </form>
                </div>
                <div class="helper-button-tags">
                    <p class="reveal-letter-tag" id="reveal-letter-text">{{ helpers['reveal_letter_card'] }}</p>
                    <p class="reveal-length-tag" id="reveal-length-text">{{ helpers['reveal_length_card'] }}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% else %}
    {% if correct %}
        <div class="after-answer">
            <h2>You are right!</h2>
            {% if "_tf" in game.param %}
                {% if statement %}
                    <h2 style="font-weight: 100;">{{ real_answer }}</h2>
                {% else %}
                    <h3>Here's the correction:</h3>
                    <h2 style="font-weight: 100;">{{ real_answer }}</h2>
                {% endif %}
            {% elif "number" in game.param %}
                <h2 style="font-weight: 100;">{{ real_answer }}</h2>
            {% else %}
                <h2><p style="font-weight: 100;">'{{ real_answer }}'</p> is the correct answer!</h2>
            {% endif %}
            <h3>You answered in <b class="score">{{ seconds }} seconds.</b></h3>
            <h3><b class="score">+{{ new_points }} points</b></h3>
            {% if question_no >= 10 %}
                <h2>Your final score: <b class="score">{{ score }} points!</b></h2>
            {% else %}
                <h2>Your score: <b class="score">{{ score }} points</b></h2>
            {% endif %}
        </div>
    {% else %}
        {% if seconds == 0 %}
            <h1>Time up!</h1>
        {% endif %}
        <div class="after-answer">
            <h2>Sorry!</h2>
            {% if "_tf" in game.param %}
                {% if statement %}
                    <h3>True was the correct answer.</h3>
                    <h2 style="font-weight: 100;">{{ real_answer }}</h2>
                {% else %}
                    <h3>False was the correct answer.</h3>
                    <h3>Here's the correction:</h3>
                    <h2 style="font-weight: 100;">{{ real_answer }}</h2>
                {% endif %}
            {% elif "number" in game.param %}
                <h3>It was actually this:</h3>
                <h2 style="font-weight: 100;">{{ real_answer }}</h2>
            {% else %}
                <h3>The correct answer was:</h3>
                <h2 style="font-weight: 100;">{{ real_answer }}</h2>
            {% endif %}
            {% if question_no >= 10 %}
                <h2>Your final score is <b class="score">{{ score }} points</b>.</h2>
            {% else %}
                <h2>Your current score is <b class="score">{{ score }} points</b>.</h2>
            {% endif %}
        </div>
    {% endif %}
    <div class="after-answer">
        {% if question_no >= 10 %}
            <form method="POST" action="/game_finish">
                <input type="hidden" name="token" value="{{ token }}">
                {% if user.is_authenticated %}
                    <div class="victory-message-error" style="transform: translateY(15px); font-size: 1.4em; color: rgb(255, 119, 0);"></div>
                    <input class="message-input" type="text" name="message" placeholder="Victory message..." autocomplete="off" autofocus>
                    <input class="submit-game-btn go-to-scoreboard" style="margin-top: 35px;" type="submit" value="Scoreboard">
                {% else %}
                    <input class="submit-game-btn go-to-scoreboard" style="margin-top: 10px;" type="submit" value="Scoreboard">
                {% endif %}
            </form>
        {% else %}
            <form method="POST" action="/game_play">
                <input type="hidden" name="token" value="{{ token }}">
                <input type="hidden" name="question_no" value="{{ question_no }}">
                <input class="submit-game-btn" style="margin-top: 10px;" type="submit" value="Next Question">
            </form>
        {% endif %}
    </div>
{% endif %}

<script src="{{ url_for('static', filename='scripts/in_game_functions.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/helper_apis.js') }}"></script>

{% endblock %}