{% extends 'layout.html' %}
{% block content %}
{% if in_game == "before" %}
    <h1 class="question-title">Welcome to Trivia Madness!</h1>
    <h2 class="question-title-2">Choose a category:</h2>
    <div class="all-categories">
        {% for category in categories %}
            <div class="category">
                <form method="GET" action="/game_setup">
                    <input type="hidden" name="in_game" value="intro">
                    <input type="hidden" name="category" value="{{ category.name }}">
                    <input type="hidden" name="game_type" value="{{ game_type }}">
                    <input class="category-name" type="submit" value="{{ category.name }}">
                </form>
            </div>
        {% endfor %}
    </div>
{% elif in_game == "intro" %}
    <h1 class="question-title">{{ game_name }}</h1>
    <div class="pre-game">
        <p class="instruction-text">{{ game.intro_message }} You will have XX seconds to type your answer for each question. The quicker you answer, the more points you'll get. You can also use random letter reveals for a penalty.<br>Good luck!</p>
        <form method="POST" action="/game_play">
            <h2 style="margin-top: 40px; text-align: center;">Difficulty level (time to answer):</h2>
            <div class="level-selection">
                <div class="level">
                    <input class="level-radio" type="radio" id="easy" name="difficulty" value="30" checked>
                    <label for="easy"><b style="color:cornflowerblue;">Easy</b> (30 seconds)</label>
                </div>
                <div class="level">
                    <input class="level-radio" type="radio" id="medium" name="difficulty" value="20">
                    <label for="medium"><b style="color:cornflowerblue;">Medium</b> (20 seconds)</label>
                </div>
                <div class="level">
                    <input class="level-radio" type="radio" id="hard" name="difficulty" value="10">
                    <label for="hard"><b style="color:cornflowerblue;">Hard</b> (10 seconds)</label>
                </div>
            </div>
            <input type="hidden" name="in_game" value="start">
            <input type="hidden" name="token" value="{{ token }}">
            <input class="submit-game" type="submit" value="Start Game">
        </form>
    </div>
{% elif in_game == "yes" %}
    <h1 class="question-title-opening">Your {{ game.question_numbers[question_no] }} question will be revealed in <b class="before-countdown">3</b> seconds.</h1>
    <h1 class="question-in-game" style="display: none;">{{ next_question[1] }} <b class="in-countdown">{{ timer }}</b></h1>
    <div class="game-box" style="display: none;">
        <form method="POST" action="/game_answer">
            <input class="answer-input" type="text" name="answer" placeholder="Type your answer here" autocomplete="off" autofocus>
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="countdown_timer" id="countdown-timer" value="10">
            <input type="submit" class="submit-game" value="Submit Answer">
        </form>
        <div class="helper-box">
            <div class="helper-buttons">
                <button class="reveal-letter" onclick="revealLetter()">Reveal a letter</button>
                <button class="reveal-length" onclick="revealLength()">Reveal length</button>
            </div>
            <div class="helper-button-tags">
                <p class="reveal-letter-tag">-10 points</p>
                <p class="reveal-length-tag">-20 points</p>
            </div>
        </div>
    </div>
{% else %}
    {% if correct %}
    <div class="after-answer">
        <h2 class="correct-answer-text"><b class="correct-answer">'{{ game.get_answer(1) }}'</b> is the correct answer!</h2>
        <h2 class="current-score-text">You answered in <b class="score">{{ seconds }}</b> seconds.</h2>
        <h2 class="current-score-text">+ <b class="score">{{ new_points }}</b> points</h2>
        {% if question_no == 10 %}
            <h2 class="current-score-text">Your final score: <b class="score">{{ score }}</b> points!</h2>
        {% else %}
            <h2 class="current-score-text">Your score: <b class="score">{{ score }}</b> points</h2>
        {% endif %}
    </div>
    {% else %}
        {% if seconds == 0 %}
            <h1 class="question-over"><b>Time up!</b></h1>
        {% endif %}
    <div class="after-answer">
        <h2 class="correct-answer-text">Sorry! The correct answer was <b class="correct-answer">'{{ game.get_answer(1) }}'</b>.</h2>
        {% if question_no == 10 %}
            <h2 class="current-score-text">Your final score is <b class="score">{{ score }}</b> points.</h2>
        {% else %}
            <h2 class="current-score-text">Your current score is <b class="score">{{ score }}</b> points.</h2>
        {% endif %}
    </div>
    {% endif %}
    <div class="after-answer">
        {% if question_no == 10 %}
            <form method="POST" action="/scoreboard">
                <input type="hidden" name="token" value="{{ token }}">
                <input class="submit-game" type="submit" value="Scoreboard">
            </form>
        {% else %}
            <form method="POST" action="/game_play">
                <input type="hidden" name="token" value="{{ token }}">
                <input class="submit-game" type="submit" value="Next Question">
            </form>
        {% endif %}
    </div>
{% endif %}
{% endblock %}