{% extends 'layout.html' %}
{% block game_title %}Game Selection{% endblock %}
{% block game_title_small %}Game Selection{% endblock %}
{% block content %}
<h1>What game do you want to play?</h1>
<div class="all-games">
    {% for game in games if game.default %}
    <div class="game">
        <div class="game-content absolute-box">
            <a href="{{ url_for('main.game_setup', game_type=game.param) }}">
                <img class="game-image" src="{{ url_for('static', filename='images/' + game.image) }}" alt="{{ game.name }}">
                <p class="game-name">{{ game.name }}</p>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}