{% extends 'layout.html' %}
{% block game_title %}{{game_name}}{% endblock %}
{% block game_title_small %}
  {% for word in game_name.split() %}
    {% if word == 'Facts' or word == 'Jokes' or word == 'General' or word == 'Music' or word == 'to' or word == 'Reach' %}
    {{ word }}
    {% elif word == 'Geography' or word == 'Entertainment' or word == 'Number' %}
    {{ word[0:3] }}
    {% elif word == 'Language' or word == 'Mathematics' %}
    {{ word[0:4] }}
    {% else %}
    {{ word[0] }}
    {% endif %}
  {% endfor %}
{% endblock %}
{% block content %}

<div>
  <h1 class="question-title">{{ game.name }}<br><i>Scoreboard</i></h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Score</th>
        <th scope="col">Player</th>
        <th scope="col">Date</th>
        <th scope="col">Comment</th>
        <!--<th scope="col">Likes</th>-->
      </tr>
    </thead>
    <tbody>
      {% for score in high_scores %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>
          {{score[0].score}}
          <form action="/like_high_score" method="POST">
            <!-- PUT CSRF TOKEN HERE -->
            <div class="likes-container">
              {% if score.user_likes %}
                <input type="hidden" name="score_id" value="{{score.id}}">
                <input type="hidden" name="liked" value="yes">
                <img class="liked-thumbsup" src="{{ url_for('static', filename='images/thumbsup.png') }}" alt="liked">
              {% else %}
                {% if user.is_authenticated %}
                  <input type="hidden" name="score_id" value="{{score.id}}">
                  <input type="hidden" name="liked" value="no">
                  <img class="like-thumbsup" src="{{ url_for('static', filename='images/thumbsup.png') }}" alt="like">
                {% endif %}
              {% endif %}
            </div>
          </form>
          {{score[0].likes}}
        </td>
        <td>{{score.username}}</td>
        <td>{{score[0].date.strftime('%d-%m-%Y') }}</td>
        <td>{{score[0].message}}</td>
        <!--<td>{{score[0].likes}}</td>-->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}