{% extends 'layout.html' %}
{% block game_title %}{{game_name}}{% endblock %}
{% block game_title_small %}
  {% for word in game_name.split() %}
    {% if word == 'Facts' or word == 'Jokes' or word == 'General' or word == 'Music' or word == 'to' or word == 'Reach' %}
    {{ word }}
    {% elif word == 'Geography' or word == 'Entertainment' or word == 'Number' %}
    {{ word[0:3] }}
    {% elif word == 'Language' or word == 'Mathematics' %}
    {{ word[0:4] }}
    {% else %}
    {{ word[0] }}
    {% endif %}
  {% endfor %}
{% endblock %}
{% block content %}

<div>
  <h1>Scoreboard</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Username</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{user.username}}</td>
        <td>{{user.score}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}