<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body_and_defaults.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pop_ups.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/category_selection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scoreboard.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>GamesZero</title>
</head>
<body>
    <!-- Nav bar with website title, game title, and options menu -->
    <div class="nav-bar">
        <div class="nav-bar-left">
            <a class="home-title-tag link-fmt" href="{{ url_for('main.index') }}">GamesZero</a>
            <p class="game-title-tag">{% block game_title %}{% endblock %}</p>
            <p class="game-title-tag-small">{% block game_title_small %}{% endblock %}</p>
        </div>
        <div class="nav-bar-right">
            <a class="nav-username-link link-fmt" href="{{ url_for('scoreboard.scoreboard_page', username=user.username) }}">{{ user.username }}</a>
            {% if in_game == "yes" or in_game == "after" %}
                <div class="bar-score-box">
                    <p class="score-mes">Score:</p><p class="score-tag" id="score">{{ score }}</p>
                </div>
            {% else %}
                <button class="menu-btn">Menu</button>
            {% endif %}
        </div>
    </div>
    <!-- Options menu -->
    <div class="options-menu" id="options-menu" style="display: none;">
        {% if not user.is_authenticated %}
            <button class="options-btn clear-btn" data-login-button-target="#login-box">Log in</button>
            <button class="options-btn clear-btn" data-register-button-target="#register-box">Sign up</button>
        {% endif %}
        <a href="{{ url_for('scoreboard.scoreboard_page') }}"><button class="options-btn clear-btn">Scoreboards</button></a>
        <button class="options-btn clear-btn">About</button>
        <a href=""><button class="options-btn clear-btn">Contact</button></a>
        {% if user.is_authenticated %}
            <form method="POST" action="/logout">
                <!-- PUT CSRF TOKEN HERE -->
                <input class="options-btn clear-btn" style="font-weight: 100;" type="submit" value="Log out">
            </form>
        {% endif %}
    </div>
    <div class="top-space"></div>
    {% block content %}{% endblock %}

    {% if not user.is_authenticated %}
        <div class="login-box pop-up-box" id="login-box">
            <button data-cancel-button-over class="cancel-button">&times;</button>
            <form method="POST" action="/login">
                <!-- PUT CSRF TOKEN HERE -->
                <div class="pop-up-header">
                    <p>Login</p>
                </div>
                <div class="pop-up-content">
                    <div class="login-box-item">
                        <input type="text" name="username" placeholder="Username or email" autofocus>
                    </div>
                    <div class="login-box-item">
                        <input type="password" name="password" placeholder="Password" autocomplete="off" autofocus>
                    </div>
                    <div class="login-box-item">
                        <div class="login-error-message" style="color: rgb(255, 119, 0); transform: translateY(-12px);"></div>
                    </div>
                </div>
                <div class="pop-up-footer">
                    <input class="log-in-btn" type="submit" value="Login">
                </div>
            </form>
        </div>
        <div class="register-box pop-up-box" id="register-box">
            <button data-cancel-button-over class="cancel-button">&times;</button>
            <form id="registrationForm" method="POST" action="/register">
                <!-- PUT CSRF TOKEN HERE -->
                <div class="pop-up-header">
                    <p>Register</p>
                </div>
                <div class="pop-up-content">
                    <div class="register-box-item">
                        <div class="register-username-error-message clear_error" style="color: rgb(255, 119, 0); transform: translateY(-5px);"></div>
                        <input type="text" name="username" placeholder="Username" autofocus>
                    </div>
                    <div class="register-box-item">
                        <div class="register-email-error-message clear_error" style="color: rgb(255, 119, 0); transform: translateY(-5px);"></div>
                        <input type="text" name="email" placeholder="Email" autofocus>
                    </div>
                    <div class="register-box-item">
                        <div class="register-password-error-message clear_error" style="color: rgb(255, 119, 0); transform: translateY(-5px);"></div>
                        <input type="password" id="password" onkeyup="checkPasswordStrength()" name="password" placeholder="Password" autocomplete="off" autofocus>
                        <div id="password-strength" style="color: rgb(0, 149, 255); transform: translateY(-17px);"></div>
                    </div>
                    <div class="register-box-item">
                        <div class="register-confirm_password-error-message clear_error" style="color: rgb(255, 119, 0); transform: translateY(-5px);"></div>
                        <input type="password" name="confirm_password" placeholder="Confirm password" autocomplete="off" autofocus>
                    </div>
                    <div class="register-box-item">
                        <div class="register-error-message clear_error" style="color: rgb(255, 119, 0); transform: translateY(-9px);"></div>
                    </div>
                </div>
                <div class="pop-up-footer">
                    <input class="sign-up-btn" type="submit" value="Register">
                </div>
            </form>
        </div>
    {% endif %}
    <div id="overlay"></div>

    <script src="{{ url_for('static', filename='scripts/pop_ups_and_menu.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/auth_apis.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/password_checker.js') }}"></script>
</body>
</html>