<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body_and_defaults.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pop_ups.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/category_selection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scoreboard.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>GamesZero</title>
</head>
<body>
    <!-- Nav bar with website title, game title, and options menu -->
    <div class="nav-bar">
        <div class="nav-bar-left">
            {% if in_game == "yes" or in_game == "after" %}
                <script>
                    function storeUrl(url) {
                        document.getElementById('destinationUrl').value = url;
                    }
                </script>
                <a class="home-title-tag link-fmt" data-quit-game-target="#quit-game-box" onclick="storeUrl('{{ url_for('main.index') }}')">GamesZero</a>
                <input type="hidden" id="destinationUrl" value="">
            {% else %}
                <a class="home-title-tag link-fmt" href="{{ url_for('main.index') }}">GamesZero</a>
            {% endif %}
            <p class="game-title-tag">{% block game_title %}{% endblock %}</p>
            <p class="game-title-tag-small">{% block game_title_small %}{% endblock %}</p>
        </div>
        <div class="nav-bar-right">
            {% if in_game == "yes" or in_game == "after" %}
                <a class="nav-username-link link-fmt" data-quit-game-target="#quit-game-box" onclick="storeUrl('{{ url_for('scoreboard.scoreboard_page', username=user.username) }}')">{{ user.username }}</a>
            {% else %}
                <a class="nav-username-link link-fmt" href="{{ url_for('scoreboard.scoreboard_page', username=user.username) }}">{{ user.username }}</a>
            {% endif %}
            {% if in_game == "yes" or in_game == "after" %}
                <div class="bar-score-box">
                    <p class="score-mes">Score:</p><p class="score-tag" id="score">{{ score }}</p>
                </div>
            {% else %}
                <button class="menu-btn">Menu</button>
            {% endif %}
        </div>
    </div>
    <!-- Options menu -->
    {% if in_game != "yes" and in_game != "after" %}
        <div class="options-menu" id="options-menu" style="display: none;">
            {% if not user.is_authenticated %}
                <button class="options-btn clear-btn" data-login-button-target="#login-box">Log in</button>
                <button class="options-btn clear-btn" data-register-button-target="#register-box">Sign up</button>
            {% endif %}
            <a href="{{ url_for('scoreboard.scoreboard_page') }}"><button class="options-btn clear-btn">Scoreboards</button></a>
            <button class="options-btn clear-btn" data-legal-button-target="#legal-box">Legal</button>
            <button class="options-btn clear-btn">About</button>
            <a href=""><button class="options-btn clear-btn">Contact</button></a>
            {% if user.is_authenticated %}
                <form method="POST" action="/logout">
                    <!-- PUT CSRF TOKEN HERE -->
                    <input class="options-btn clear-btn" style="font-weight: 400;" type="submit" value="Log out">
                </form>
            {% endif %}
        </div>
        <div class="confirm-legal-box pop-up-box{% if show_privacy_policy %} active{% endif %}" id="confirm-legal-box">
            <p style="font-size: 18px;">This website uses cookies and may collect certain data for security purposes in compliance with the law. By using this website you agree to the terms of service. For more information, <button class="legal-link-btn clear-btn" data-legal-button-target="#legal-box">click here</button>.</p>
            <button class="confirm-legal-btn box-btn" data-cancel-button>Continue to Website</button>
        </div>
        <div class="legal-box pop-up-box" id="legal-box">
            <button data-cancel-button class="cancel-button">&times;</button>
            <div class="pop-up-header">
                <p>Legal</p>
            </div>
            <div class="top-fade-out"></div>
            <div class="pop-up-content legal-content">
                <p class="legal-title">Privacy Policy</p>
                <p class="legal-text">In compliance with the law, this website collects certain data from all users who engage with it. This is solely for the purpose of ensuring online safety and security. This data may include the IP addresses of users, which are stored securely and will only be used if necessary to prevent any malicious activity. This data will never be shared with any third parties.</p>
                <p class="legal-text">Users who sign up for an account with this website will provide their email address. This is used to contact the user when certain actions are performed on their account and also to alert the user of any security concerns relating to their account. Email addresses are stored securely and may be linked with any IP addresses the user uses when they perform certain actions on the website. This data will only be used if necessary to prevent any malicious activity and will never be shared with any third parties.</p>
                <p class="legal-title">Cookie Policy</p>
                <p class="legal-text">This website uses cookies to ensure that users have the best possible experience. By using this website, you agree to the use of cookies.</p>
                <p class="legal-title">Terms of Service</p>
                <p class="legal-text">By using this website, you agree to the terms of service. These terms include the use of cookies mentioned above and the collection of certain data mentioned above.</p>
            </div>
            <div class="bottom-fade-out"></div>
        </div>
    {% endif %}
    <div class="top-space"></div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }} main-page-flash">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <!-- Auth pop-up boxes -->
    {% if not user.is_authenticated and (in_game != "yes" and in_game != "after") %}
        <div class="login-box pop-up-box" id="login-box">
            <button data-cancel-button class="cancel-button">&times;</button>
            <form method="POST" action="/login">
                <!-- PUT CSRF TOKEN HERE -->
                <div class="pop-up-header">
                    <p>Login</p>
                </div>
                <div class="pop-up-content">
                    <div class="login-box-item">
                        <input type="text" class="username-lower" name="username" placeholder="Username or email" autofocus>
                    </div>
                    <div class="login-box-item">
                        <input type="password" name="password" placeholder="Password" autocomplete="off" autofocus>
                    </div>
                    <div class="login-box-item">
                        <div class="login-error-message close-clear" style="color: rgb(255, 119, 0); transform: translateY(-12px);"></div>
                    </div>
                </div>
                <div class="pop-up-footer">
                    <input class="login-btn" type="submit" value="Login">
                </div>
            </form>
            <button class="forgot-password-btn clear-btn" data-forgotten-password-button-target="#forgotten-password-box" data-cancel-login-box="#login-box">Forgot password?</button>
        </div>
        <div class="forgotten-password-box pop-up-box" id="forgotten-password-box">
            <button data-cancel-button class="cancel-button">&times;</button>
            <form method="POST" action="/send_reset_password_link">
                <!-- PUT CSRF TOKEN HERE -->
                <div class="pop-up-header reset-password-header">
                    <p>Reset Password</p>
                </div>
                <div class="pop-up-content">
                    <div class="forgotten-password-box-item">
                        <input type="text" name="email" placeholder="Email address" autofocus>
                    </div>
                    <div class="forgotten-password-box-item">
                        <div class="forgotten-password-error-message close-clear" style="color: rgb(255, 119, 0); transform: translateY(-10px);"></div>
                        <div class="forgotten-password-success-message close-clear" style="color: rgb(0, 149, 255); transform: translateY(-10px);"></div>
                    </div>
                </div>
                <div class="pop-up-footer">
                    <input class="reset-password-btn" style="font-size: 20px;" type="submit" value="Send reset password link">
                </div>
            </form>
        </div>
        <div class="register-box pop-up-box" id="register-box">
            <button data-cancel-button class="cancel-button">&times;</button>
            <form id="registrationForm" method="POST" action="/register">
                <!-- PUT CSRF TOKEN HERE -->
                <div class="pop-up-header">
                    <p>Register</p>
                </div>
                <div class="pop-up-content">
                    <div class="register-box-item">
                        <div class="register-username-error-message clear-error" style="color: rgb(255, 119, 0); transform: translateY(-5px);"></div>
                        <input type="text" class="username-lower" name="username" placeholder="Username" autofocus>
                    </div>
                    <div class="register-box-item">
                        <div class="register-email-error-message clear-error" style="color: rgb(255, 119, 0); transform: translateY(-5px);"></div>
                        <input type="text" name="email" placeholder="Email" autofocus>
                    </div>
                    <div class="register-box-item">
                        <div class="register-password-error-message clear-error" style="color: rgb(255, 119, 0); transform: translateY(-5px);"></div>
                        <input type="password" id="password" onkeyup="checkPasswordStrength()" name="password" placeholder="Password" autocomplete="off" autofocus>
                        <div id="password-strength" class="close-clear" style="color: rgb(0, 149, 255); transform: translateY(-17px);"></div>
                    </div>
                    <div class="register-box-item">
                        <div class="register-confirm_password-error-message clear-error" style="color: rgb(255, 119, 0); transform: translateY(-5px);"></div>
                        <input type="password" name="confirm_password" placeholder="Confirm password" autocomplete="off" autofocus>
                    </div>
                    <div class="register-box-item">
                        <div class="register-error-message clear-error" style="color: rgb(255, 119, 0); transform: translateY(-9px);"></div>
                    </div>
                </div>
                <div class="pop-up-footer">
                    <input class="sign-up-btn" type="submit" value="Register">
                </div>
            </form>
        </div>
    {% endif %}
    <div id="overlay"{% if show_privacy_policy %} class="active"{% endif %}></div>

    <script src="{{ url_for('static', filename='scripts/pop_ups_and_menu.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/auth_apis.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/password_checker.js') }}"></script>
</body>
</html>