<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body_and_defaults.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Report Issue</title>
</head>
<body>
    <div class="report-issue-main-box">
        {% if values['stage'] == 1 %}
            <h1>Report Issue</h1>
            <form action="/report_issue" method="POST">
                <!-- PUT CSRF TOKEN HERE -->
                <input type="hidden" name="auth_token" value="{{ token }}">
                <p class="report-issue-form-title1">What kind of issue are you reporting?</p>
                <div class="issue-selection-box">
                    {% for issue in issues %}
                        <div class="selector-class issue-selector">
                            <div class="selector-div">
                                <input type="radio" id="{{ issue }}" name="issue_type" value="{{ issue }}">
                            </div>
                            <label for="{{ issue }}"><b style="color:rgb(255, 119, 0);">{{ issues[issue]['message'] }}</b></label>
                        </div>
                    {% endfor %}
                </div>
                <div class="report-issue-submit-btns">
                    <input class="confirm-btn" type="submit" name="submit_button" value="Next">
                </div>
            </form>
        {% elif values['stage'] == 2 %}
            <h1>Report {{ values['title'] }}</h1>
            <form action="/report_issue" method="POST">
                <!-- PUT CSRF TOKEN HERE -->
                <input type="hidden" name="auth_token" value="{{ token }}">
                <p class="report-issue-form-title2 report-issue-text" style="color: rgb(255, 119, 0);">Details of issue:</p>
                <p class="error-message report-issue-text" style="display: none; color: red;"></p>
                {% if values['issue_id'] %}
                    <p class="report-issue-text">Case number: <b style="color:rgb(255, 119, 0);">{{ values['issue_id'] }}</b></p>
                    <p class="report-issue-text">Date and time: <b style="font-family:Arial; color:rgb(255, 119, 0);">{{ values['date_time_issue_occurred'] }}</b></p>
                {% else %}
                    <p class="report-issue-text">If you have a 9 digit case number starting with S, please enter it here. It will help us know what happened.</p>
                    <input class="auth-input issue_id" id="issue_id" style="margin-top: 10px;" type="text" name="issue_id" placeholder="Case number">
                {% endif %}
                <p class="report-issue-text">If you would like, you can provide more information about what happened.</p>
                <textarea class="issue-description" id="issue-description" name="issue_description" placeholder="Describe the problem... (optional)"></textarea>
                <div class="report-issue-submit-btns">
                    <input class="confirm-btn" type="submit" name="submit_button" value="Report Issue">
                </div>
            </form>
        {% elif values['stage'] == 3 %}
            <h1>{{ values['title'] }} Reported</h1>
            <h4 style="font-weight: 100;">Thank you for reporting this issue.</h4>
            {% if values['title'] == 'Unauthorised Password Change' or values['title'] == 'Security Alert' %}
                <!-- PUT A VISUAL LINE HERE -->
                <h4 style="font-weight: 100;">If you would like to reset your password, please click the button below.</h4>
                <button class="report-issue-reset-password-btn box-btn">Reset Password</button>
                <div class="report-issue-reset-password-box" id="forgotten-password-box" style="display: none;">
                    <form action="/send_reset_password_link" method="POST">
                        <!-- PUT CSRF TOKEN HERE -->
                        <input class="auth-input email-input" type="text" name="email" placeholder="Email address" autofocus>
                        <p class="forgotten-password-error-message hidden" style="color: rgb(255, 119, 0);"></p>
                        <p class="forgotten-password-success-message hidden" style="color: rgb(0, 149, 255);"></p>
                        <input class="reset-password-btn send-link-btn" type="submit" value="Send reset password link">
                    </form>
                </div>
            {% endif %}
            <div class="return-btn-box">
                <a class="return-btn" href="{{ url_for('main.index') }}">Return to Home</a>
            </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='scripts/report_issue.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/auth_apis.js') }}"></script>
</body>
</html>