{% extends 'layout.html' %}
{% block game_title %}{{game_name}}{% endblock %}
{% block game_title_small %}
  {% if "'s Scores" in game_name or '& Scores' in game_name %}
    {{ game_name }}
  {% else %}
    {% for word in game_name.split() %}
      {% if word == 'Facts' or word == 'Jokes' or word == 'General' or word == 'Music' or word == 'to' or word == 'Reach' %}
      {{ word }}
      {% elif word == 'Geography' or word == 'Entertainment' or word == 'Number' %}
      {{ word[0:3] }}
      {% elif word == 'Language' or word == 'Mathematics' %}
      {{ word[0:4] }}
      {% elif word == 'Scoreboards' %}
      {{ word }}
      {% else %}
      {{ word[0] }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
{% block content %}

{% if game_name == "Your Profile & Scores" %}
  <div class="user-profile-box">
    <h1 style="margin-top: 0;">Account Management</h1>
    <p class="email-profile-info">{{ user.email }}</p>
    <a class="profile-info-btn" href="{{ url_for('auth.change_email') }}">Change Email</a>
    <a class="profile-info-btn" href="{{ url_for('auth.change_password') }}">Change Password</a>
    <a class="profile-info-btn" href="{{ url_for('auth.delete_account') }}">Delete Account</a>
  </div>
{% endif %}

{% if needs_high_score %}
  {% if not user.is_authenticated %}
    <div class="high-score-login">
      <p>
        <button class="score-auth-button" data-login-button-target="#login-box">Log in</button>
        or
        <button class="score-auth-button t-sb-sign-up" data-register-button-target="#register-box">Sign up</button> 
        to save your score!
      </p>
    </div>
  {% else %}
    <div class="after-answer">
      <form method="POST" action="/game_finish">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="token" value="{{ token }}">
        <h1 class="score-title">Add Your Score</h1>
        <div class="victory-message-error" style="transform: translateY(-10px); font-size: 1.4em; color: rgb(255, 119, 0);"></div>
        <input class="message-input" type="text" name="message" placeholder="Victory message..." autocomplete="off" autofocus>
        <input class="submit-score-btn go-to-scoreboard" type="submit" value="Add My Score">
      </form>
    </div>
  {% endif %}
  <div class="score-table-separator-first"></div>
{% elif not user.is_authenticated %}
  <div class="high-score-login">
    <p>
      <button class="score-auth-button" data-login-button-target="#login-box">Log in</button>
      or
      <button class="score-auth-button t-sb-sign-up" data-register-button-target="#register-box">Sign up</button> 
      to like scores!
    </p>
  </div>
  <div class="score-table-separator-first"></div>
{% endif %}

{% for game_scores in all_games_scores %}
  <div class="scoreboard-table-container">
    {% if loop.index != 1 %}
      <div class="score-table-separator"></div>
    {% else %}
      <div style="height: 20px;"></div>
    {% endif %}
    <h4><a href="{{ url_for('main.game_setup', game_type=all_games_scores[game_scores][0]['game'], category=all_games_scores[game_scores][0]['category']) }}" class="quick-game-link-btn clear-btn" style="font-weight: 400;">{{ all_games_scores[game_scores][0]['game_name'] }}</a>
      <br><a href="{{ url_for('scoreboard.scoreboard_page', game_name_param=all_games_scores[game_scores][0]['game'], category=all_games_scores[game_scores][0]['category']) }}" class="game-score-btn clear-btn"><b>Scoreboard{% if all_games_scores[game_scores][0]['difficulty'] %} - Level: {{ all_games_scores[game_scores][0]['difficulty'] | capitalize }}{% endif %}</b></a></h4>
    <table class="scoreboard-table">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Score</th>
          <th scope="col">Player</th>
          <th scope="col">Date</th>
          <th scope="col">Comment</th>
        </tr>
      </thead>
      <tbody>
        {% for score in all_games_scores[game_scores] %}
          <tr class="score-container" data-score-id="{{ score['score_id'] }}">
            <th scope="row">{{ loop.index }}</th>
            <td class="score-zone">
              <b class="score-card">{{ score['score'] }}</b>
              <div class="likes-section">
                <form action="/like_high_score" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <div class="likes-container">
                    {% if score['user_likes_score'] %}
                      <input type="hidden" name="score_id" value="{{ score['score_id'] }}">
                      <input type="hidden" name="liked" value="yes">
                      <img class="liked-thumbsup" src="{{ url_for('static', filename='images/thumbsup.png') }}" alt="liked">
                    {% else %}
                      {% if user.is_authenticated %}
                        <input type="hidden" name="score_id" value="{{ score['score_id'] }}">
                        <input type="hidden" name="liked" value="no">
                        <img class="like-thumbsup" src="{{ url_for('static', filename='images/thumbsup.png') }}" alt="like">
                      {% else %}
                        <img class="like-thumbsup-false" src="{{ url_for('static', filename='images/thumbsup.png') }}" alt="like">
                      {% endif %}
                    {% endif %}
                  </div>
                </form>
                <div class="likes-count">
                  {{ score['likes'] }}
                </div>
              </div>
            </td>
            <td><a href="{{ url_for('scoreboard.scoreboard_page', username=score['username']) }}" class="username-score-button">{{ score['username'] }}</a></td>
            <td>{{ score['date'].strftime('%m-%d') | format_date }}</td>
            <td class="score-message-container">
              {% if score['message'] %}{{ score['message'] }}{% else %}-{% endif %}
              {% if score['user_id'] == user.id %}
                <img class="edit-score-button" src="{{ url_for('static', filename='images/pencil.png') }}" alt="edit" data-amend-score-box-target="#amend-score-box-{{ score['score_id'] }}">
                <div class="amend-score-box pop-up-box" id="amend-score-box-{{ score['score_id'] }}">
                  <button data-cancel-button class="cancel-button">&times;</button>
                  <form method="POST" action="/amend_score">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="score_id" value="{{ score['score_id'] }}">
                    <div class="pop-up-header">
                      <p>Message</p>
                    </div>
                    <div class="pop-up-content">
                      <div class="victory-message-error" style="transform: translateY(-7px); font-size: 20px; color: rgb(255, 119, 0);"></div>
                      <input type="text" name="message" placeholder="Victory message..." autocomplete="off" autofocus>
                    </div>
                    <div class="pop-up-footer">
                      <input class="amend-score-btn" type="submit" value="Confirm">
                    </div>
                  </form>
                  <form method="POST" action="/delete_score">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="score_id" value="{{ score['score_id'] }}">
                    <input class="delete-score-btn" type="submit" value="Remove Entire Entry">
                  </form>
                </div>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}

<script src="{{ url_for('static', filename='scripts/scoreboard_apis.js') }}"></script>

{% endblock %}