.git
*.DS_Store
.pytest_cache/
.vscode/
tests/
venv/
.env
.gitattributes
.gitignore
create_CSV_contents_from_API.py
create_trivia_CSV_from_API.py
play.py
pytest.ini
README.md
tox.ini
trivia_CSV_sorting.py
trivia_from_apis.csv
trivia_from_chatgpt.csv