[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-mail = "*"
pytest = "*"
pytest-xprocess = "*"
playwright = "*"

[dev-packages]

[requires]
python_version = "3.11"
