.main-box {
    text-align: center;
    padding: 0 10px;
}

.main-box form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.auth-input {
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    border: black 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.email-input {
    width: 400px;
}

.submit-btns {
    padding: 30px;
}

.confirm-btn, .cancel-btn {
    margin: 0 10px;
    padding: 15px 30px;
    font-size: 26px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: black 1px solid;
    border-radius: 15px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(191, 191, 191, 0.2);
}

.confirm-btn {
    background-color: rgb(182, 47, 20);
}

.cancel-btn {
    background-color: rgb(20, 125, 182);
}

.confirm-btn:hover {
    transform: scale(1.05);
    background-color: rgb(120, 26, 8);
}

.cancel-btn:hover {
    transform: scale(1.05);
    background-color: rgb(8, 80, 120);
}

.return-btn-box {
    height: 60px;
    margin-top: 40px;
}

.return-btn {
    margin: 20px 5px 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    color: rgb(238, 180, 86);
    background-color: #3d3226;
    border: black 1px solid;
    border-radius: 10px;
    text-decoration: none;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.return-btn:hover {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
    color: rgb(251, 223, 158);
}

.password-strength {
    margin-top: 7px;
    font-size: 21px;
    color: rgb(255, 179, 0);
}

@media (max-width: 920px) {
    .main-box form {
        padding: 9px;
    }
    .auth-input {
        font-size: 19px;
        padding: 9.5px;
    }
    .email-input {
        width: 370px;
    }
    .submit-btns {
        padding: 25px;
    }
    .confirm-btn, .cancel-btn {
        margin: 0 9px;
        padding: 14px 28px;
        font-size: 24.5px;
    }
    .return-btn {
        margin-top: 18px;
        font-size: 22px;
    }
    .password-strength {
        font-size: 20px;
    }
}
@media (max-width: 710px) {
    .main-box form {
        padding: 8px;
    }
    .auth-input {
        font-size: 18px;
        padding: 9px;
    }
    .email-input {
        width: 340px;
    }
    .submit-btns {
        padding: 20px;
    }
    .confirm-btn, .cancel-btn {
        margin: 0 8px;
        padding: 13px 26px;
        font-size: 23px;
    }
    .return-btn {
        margin-top: 16px;
        font-size: 20px;
    }
    .password-strength {
        font-size: 19px;
    }
}
@media (max-width: 500px) {
    .main-box form {
        padding: 7px;
    }
    .auth-input {
        font-size: 17px;
        padding: 8.5px;
    }
    .email-input {
        width: 310px;
    }
    .submit-btns {
        padding: 15px;
    }
    .confirm-btn, .cancel-btn {
        margin: 0 7px;
        padding: 12px 24px;
        font-size: 21.5px;
    }
    .return-btn-box {
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }
    .return-btn {
        margin: 15px auto 0;
        font-size: 19px;
    }
    .password-strength {
        font-size: 18px;
    }
}
@media (max-width: 430px) {
    .main-box form {
        padding: 6px;
    }
    .auth-input {
        font-size: 16px;
        padding: 8px;
    }
    .email-input {
        width: 290px;
    }
    .confirm-btn, .cancel-btn {
        margin: 0 6px;
        padding: 11px 22px;
        font-size: 20px;
    }
    .password-strength {
        font-size: 17px;
    }
}
@media (max-width: 395px) {
    .main-box form {
        padding: 5px;
    }
    .auth-input {
        font-size: 15px;
        padding: 7.5px;
    }
    .email-input {
        width: 270px;
    }
    .confirm-btn, .cancel-btn {
        margin: 0 5px;
        padding: 10px 20px;
        font-size: 18.5px;
    }
    .return-btn {
        margin-top: 14px;
        font-size: 18px;
    }
    .password-strength {
        font-size: 16px;
    }
}

.report-issue-main-box {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.report-issue-form-title1 {
    margin: 20px 10px;
    font-size: 30px;
}

.report-issue-form-title2 {
    font-size: 30px;
}

.report-issue-main-box form {
    text-align: left;
    margin: 0;
    width: 90%;
    max-width: 590px;
    font-size: 22px;
}

.issue-selection-box {
    margin: 10px 0 20px;
    gap: 10px;
}

.issue-selector {
    display: flex;
    padding: 10px;
}

.selector-div {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.report-issue-main-box form p {
    margin-top: 20px;
}

.issue-description {
    width: 95%;
    height: 140px;
    margin: 10px 0 0;
    padding: 10px;
    font-size: 16px;
    border: black 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    resize: vertical;
}

.report-issue-submit-btns {
    margin-top: 20px;
    text-align: center;
}

.report-issue-reset-password-btn {
    margin: 10px 10px 0;
    padding: 15px 30px;
    font-size: 26px;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 109, 182);
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0 0 12px rgba(191, 191, 191, 0.2);
}

.report-issue-reset-password-btn:hover {
    transform: scale(1.05);
    background-color: rgb(8, 80, 120);
}

@media (max-width: 920px) {
    .report-issue-form-title1, .report-issue-form-title2 {
        font-size: 28px;
    }
    .report-issue-main-box form {
        font-size: 21px;
    }
    .issue-description {
        height: 130px;
        font-size: 15px;
    }
    .report-issue-reset-password-btn {
        padding: 14px 28px;
        font-size: 24.5px;
    }
}
@media (max-width: 710px) {
    .report-issue-form-title1, .report-issue-form-title2 {
        font-size: 26px;
    }
    .report-issue-main-box form {
        font-size: 20px;
    }
    .issue-description {
        height: 120px;
        font-size: 14px;
    }
    .report-issue-reset-password-btn {
        padding: 13px 26px;
        font-size: 23px;
    }
}
@media (max-width: 500px) {
    .report-issue-form-title1, .report-issue-form-title2 {
        font-size: 24px;
    }
    .report-issue-main-box form {
        font-size: 19px;
    }
    .issue-description {
        height: 110px;
        font-size: 13px;
    }
    .report-issue-reset-password-btn {
        padding: 12px 24px;
        font-size: 21.5px;
        margin-bottom: 10px;
    }
}
@media (max-width: 430px) {
    .report-issue-form-title1, .report-issue-form-title2 {
        font-size: 22px;
    }
    .report-issue-main-box form {
        font-size: 18px;
    }
    .issue-description {
        height: 100px;
        font-size: 12px;
    }
    .report-issue-reset-password-btn {
        padding: 11px 22px;
        font-size: 20px;
    }
}
@media (max-width: 395px) {
    .report-issue-form-title1, .report-issue-form-title2 {
        font-size: 20px;
    }
    .report-issue-main-box form {
        font-size: 17px;
    }
    .issue-description {
        height: 90px;
        font-size: 11px;
    }
    .report-issue-reset-password-btn {
        padding: 10px 20px;
        font-size: 18.5px;
    }
}