body {
    box-sizing: border-box;
    background-color: #202124;
    color: rgb(232, 213, 203);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
    display: none;
}

.top-space {
    height: 140px;
}

.game-title-top-small {
    display: none;
}

@media (max-width: 1120px) {
    .game-title-top {
        display: none;
    }
    .game-title-top-small {
        display: block;
    }
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: #191c27;
    border: 1px solid rgb(142, 114, 99);
    border-radius: 10px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

.nav-bar-left, .nav-bar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-bar-left a {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    text-decoration: none;
    color: rgb(232, 213, 203);
    margin-bottom: 4px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-bar-left a:hover {
    transform: scale(1.05);
    color: rgb(251, 223, 158);
}

.nav-bar-left h2 {
    font-size: 26px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    color: rgb(232, 213, 203);
    border-left: solid 1px rgb(232, 213, 203);
    padding-left: 20px;
}

.nav-bar-right a {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    text-decoration: none;
    color: rgb(232, 213, 203);
    margin-bottom: 4px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-bar-right a:hover {
    transform: scale(1.05);
    color: rgb(251, 223, 158);
}

.nav-bar-right button {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    text-decoration: none;
    color: rgb(232, 213, 203);
    margin-bottom: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-left: solid 1px rgb(232, 213, 203);
    padding-left: 20px;
    transition: text-shadow 0.3s ease;
}

.nav-bar-right button:hover {
    text-shadow: 2px 2px 4px rgba(191, 191, 0, 0.6);
}

.options-menu {
    position: fixed;
    top: 81px;
    right: 0;
    z-index: 8;
    background-color: #191c27;
    border: 1px solid rgb(142, 114, 99);
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 10px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

.options-button {
    font-size: 18px;
    background: none;
    border: none;
    outline: inherit;
    text-decoration: none;
    color: rgb(232, 213, 203);
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.options-button:hover {
    transform: scale(1.05);
    color: rgb(251, 223, 158);
}

@media (max-width: 815px) {
    .top-space {
        height: 170px;
    }
    .nav-bar {
        height: 100px;
        padding: 10px 20px;
    }
    .nav-bar-left, .nav-bar-right {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .nav-bar-right {
        align-items: flex-end;
    }
    .home-title-link, .username-link {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .nav-bar-left h2 {
        border-left: none;
        padding-left: 0px;
        border-top: solid 1px rgb(232, 213, 203);
        padding-top: 10px;
    }
    .nav-bar-right button {
        border-left: none;
        padding-left: 0px;
        padding-right: 0px;
        border-top: solid 1px rgb(232, 213, 203);
        padding-top: 10px;
    }
    .options-menu {
        top: 121px;
    }
}

@media (max-width: 605px) {
    .top-space {
        height: 150px;
    }
    .options-menu {
        flex-direction: column;
        height: auto;
        padding: 20px 15px;
        gap: 20px;
    }
    .options-button {
        font-size: 20px;
    }
}

.question-title, .question-title-opening, .question-in-game, .question-over {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0px 20px 10px;
}

.question-title-2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    font-style: italic;
}

.correct-answer-text, .current-score-text {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 20px;
}

@media (max-width: 448px) {
    .question-title, .question-title-opening, .question-in-game, .question-over {
        font-size: 32px;
    }
    .question-title-2 {
        font-size: 28px;
    }
    .correct-answer-text, .current-score-text {
        padding: 0 10px;
    }
}

.submit-game {
    margin-top: 40px;
    height: 80px;
    border: none;
    font-size: 32px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(139, 194, 196);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.submit-game:hover {
    transform: scale(1.05);
    background-color: rgb(111, 197, 199);
}