body {
    background-color: #202124;
    color: rgb(232, 213, 203);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-space {
    height: 80px;
}

.question-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}