.all-categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    margin: 0 80px;
    gap: 30px;
}

.category {
    position: relative;
    width: 100%;
    padding-top: 18%;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease;
}

.category:hover {
    transform: scale(1.05);
}

.category-name {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(142, 114, 99);
    background-color: black;
    font-size: 20px;
    color: rgb(203, 194, 176);
}

@media (max-width: 920px) {
    .all-categories {
        margin: 0 20px;
    }
}
@media (max-width: 710px) {
    .all-categories {
        grid-template-columns: repeat(auto-fit, 270px);
        margin: 0 20px;
        gap: 20px;
    }
    .category-name {
        font-size: 18px;
    }
}
@media (max-width: 605px) {
    .all-categories {
        grid-template-columns: repeat(auto-fit, 320px);
        margin: 0 20px;
        gap: 30px;
    }
    .category-name {
        font-size: 20px;
    }
}

@media (max-width: 360px) {
    .all-categories {
        grid-template-columns: repeat(auto-fit, 295px);
    }
    .category-name {
        font-size: 19.5px;
    }
}