.in-game-box, .pre-game-box {
    margin: 0 auto; /* HERE !!!!! */
    max-width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media (max-width: 920px) {
    .in-game-box, .pre-game-box {
        max-width: 90%;
    }
}

@media (max-width: 815px) {
    .in-game-box, .pre-game-box {
        max-width: 95%;
    }
}

.in-game-box form, .after-answer form, .pre-game-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instruction-text {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

.pre-selection-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 40px;
}

@media (max-width: 920px) {
    .pre-selection-box {
        flex-direction: column;
        gap: 20px;
    }
}

.in-countdown {
    text-align: center;
    color: gold;
}

.answer-selection-box {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(119, 210, 119);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 815px) {
    .answer-selection-box {
        font-size: 28px;
    }
}
@media (max-width: 605px) {
    .answer-selection-box {
        font-size: 26px;
    }
}
@media (max-width: 500px) {
    .answer-selection-box {
        font-size: 24px;
    }
}

.answer-selector {
    margin: 20px;
}

.answer-input, .message-input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

.answer-input {
    width: 400px;
}

.message-input {
    width: 260px;
}

@media (max-width: 395px) {
    .message-input {
        width: 230px;
    }
}

.message-input::-webkit-input-placeholder,
.message-input::-moz-placeholder,
.message-input:-ms-input-placeholder,
.message-input:-moz-placeholder {
    color: #909090;
}

.helper-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.helper-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.reveal-letter-btn, .reveal-length-btn {
    width: 120px;
    font-size: 18px;
}

.remove-higher-btn, .remove-lower-btn {
    width: 140px;
    font-size: 15.5px;
}

.reveal-letter-btn, .reveal-length-btn, .remove-higher-btn, .remove-lower-btn {
    margin: -154px 35px 0;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(187, 197, 198);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
}

.reveal-letter-btn:hover, .reveal-length-btn:hover, .remove-higher-btn:hover, .remove-lower-btn:hover {
    transform: scale(1.05);
    background-color: rgb(200, 167, 159);
}

.helper-button-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    gap: 368px;
}

.helper-button-tags p {
    margin: -76px 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.remove-higher-tag {
    padding-right: 10px;
}

.remove-lower-tag {
    padding-left: 10px;
}

.hint-messages {
    text-align: center;
    font-style: italic;
    color: burlywood;
}

@media (max-width: 710px) {
    .helper-buttons {
        gap: 20px;
    }
    .helper-buttons button {
        margin: 0 10px 0;
    }
    .helper-button-tags {
        gap: 38px;
    }
    .helper-button-tags p {
        margin: 2px 10px 0;
    }
    .helper-box {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 535px) {
    .answer-selection-box {
        gap: 10px;
    }
}

@media (max-width: 465px) {
    .answer-input {
        width: 382px;
    }
}
@media (max-width: 430px) {
    .answer-input {
        width: 352px;
    }
}
@media (max-width: 395px) {
    .answer-input {
        width: 322px;
    }
}
@media (max-width: 360px) {
    .answer-input {
        width: 292px;
    }
}

.score {
    color: darkorange;
}