.pop-up-box {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    visibility: hidden;
    z-index: 20;
    max-width: 80%;
}

.pop-up-box.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

#overlay {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(63, 63, 63, 0.8);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
    z-index: 11;
}

/* &times; button for pop up boxes */
.cancel-button {
    position: absolute;
    display: block;
    top: -9px; right: 15px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    font-weight: 900;
    color: rgb(232, 213, 203);
    font-family: cursive;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.cancel-button:hover, .cancel-button-a:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
}

.login-box, .forgotten-password-box, .register-box, .amend-score-box {
    border: 1px solid rgb(142, 114, 99);
    border-radius: 10px;
    background-color: #191c27;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

.login-box, .forgotten-password-box, .register-box, .amend-score-box {
    width: 300px;
    padding: 25px 30px;
}

.pop-up-header {
    text-align: center;
    padding-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
}

.reset-password-header {
    text-align: left;
}
@media (max-width: 360px) {
    .reset-password-header {
        font-size: 30px;
    }
}
@media (max-width: 340px) {
    .reset-password-header {
        font-size: 29px;
    }
}

.pop-up-content {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.pop-up-content input {
    width: 100%;
    box-sizing: border-box;
    height: 36px;
    margin-bottom: 20px;
    padding: 1px 6px;
    border: 1px solid rgb(142, 114, 99);
    border-radius: 5px;
    outline: none;
    background-color: #202124;
    font-size: 16px;
    color: rgb(232, 213, 203);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.pop-up-content input:hover {
    border: 1px solid rgb(232, 213, 203);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

.pop-up-content input[type="text"]:-webkit-autofill,
.pop-up-content input[type="text"]:-webkit-autofill:hover, 
.pop-up-content input[type="text"]:-webkit-autofill:focus, 
.pop-up-content input[type="text"]:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #202124 inset !important;
    -webkit-text-fill-color: white !important;
}

/* input::placeholder {
    color: white;
    opacity: 0.6;
} */

.pop-up-footer input {
    width: 100%;
    height: 44px;
    border: 1px solid rgb(142, 114, 99);
    border-radius: 10px;
    background-color: #202124;
    font-size: 24px;
    color: rgb(232, 213, 203);
    white-space: nowrap;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pop-up-footer input:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

.forgot-password-btn {
    width: 100%;
    margin: 20px auto 0;
    font-size: 18px;
    color: rgb(232, 213, 203);
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}