.pre-game {
    margin: 60px auto;
    max-width: 80%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .pre-game {
        max-width: 95%;
    }
}

.pre-game form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.level-selection-title {
    margin-top: 40px;
    text-align: center;
}

.instruction-text {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

.level-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0px;
    font-size: 20px;
    gap: 40px;
}

.level {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.level:hover {
    transform: scale(1.08);
}

.level-radio {
    transform: scale(2);
    cursor: pointer;
}

.level label {
    cursor: pointer;
}

@media (max-width: 890px) {
    .level-selection {
        flex-direction: column;
        gap: 20px;
    }
    .pre-game {
        margin: 30px auto;
    }
    .level-selection-title {
        margin-top: 20px;
    }
}

@media (max-width: 522px) {
    .level-selection-title {
        font-size: 22px;
        margin-bottom: 0px;
    }
    .instruction-text {
        font-size: 18px;
    }
}