.liked-thumbsup, .like-thumbsup, .like-thumbsup-false {
    height: 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    margin-bottom: -2px;
}

.liked-thumbsup, .like-thumbsup-false {
    opacity: 0.5;
}

.liked-thumbsup:hover, .like-thumbsup:hover {
    cursor: pointer;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
}

.scoreboard-table {
    width: 800px;
    max-width: 90%;
    margin: 40px auto;
    font-size: 1.3em;
}

.score-container td, .score-container th {
    text-align: center;
    border: #64594c 1px solid;
}

.score-card {
    color: rgb(82, 234, 95);
    font-size: 1.2em;
    padding: 5px;
}

.score-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.likes-count {
    font-size: 0.6em;
    margin-top: -2px;
}

.high_score_login {
    text-align: center;
    margin: 40px auto;
    font-size: 24px;
    color: rgb(238, 180, 86);
}

.score-auth-button {
    font-size: 24px;
    font-weight: bold;
    color: rgb(238, 180, 86);
    background: none;
    border: none;
    outline: inherit;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.score-auth-button:hover {
    transform: scale(1.05);
    color: rgb(251, 223, 158);
}