.liked-thumbsup, .like-thumbsup, .like-thumbsup-false {
    height: 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    margin-bottom: -2px;
}

.liked-thumbsup, .like-thumbsup-false {
    opacity: 0.5;
}

.liked-thumbsup:hover, .like-thumbsup:hover {
    cursor: pointer;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
}

.scoreboard-table {
    width: 870px;
    max-width: 90%;
    margin: 40px auto;
    font-size: 1.3em;
    overflow-x: auto;
}

@media (max-width: 990px) {
    .scoreboard-table {
        width: 792px;
        font-size: 1.2em;
    }
}

@media (max-width: 900px) {
    .scoreboard-table {
        width: 730px;
        max-width: 95%;
        font-size: 1.1em;
    }
}

@media (max-width: 800px) {
    .scoreboard-table {
        min-width: 730px;
        overflow-y: auto;
    }
}

@media (max-width: 715px) {
    .scoreboard-table {
        min-width: 678px;
        font-size: 1em;
    }
}

@media (max-width: 522px) {
    .scoreboard-table {
        min-width: 626px;
        font-size: 0.9em;
    }
}

.score-container td, .score-container th {
    text-align: center;
    border: #64594c 1px solid;
    padding: 0px 10px;
}

.score-card {
    color: rgb(82, 234, 95);
    font-size: 1.2em;
    padding: 5px;
}

.score-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.likes-count {
    font-size: 0.6em;
    margin-top: -2px;
}

.high_score_login {
    text-align: center;
    margin: 40px auto;
    font-size: 24px;
    color: rgb(238, 180, 86);
}

.score-auth-button {
    font-size: 24px;
    font-weight: bold;
    color: rgb(238, 180, 86);
    background: none;
    border: none;
    outline: inherit;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.score-auth-button:hover {
    transform: scale(1.05);
    color: rgb(251, 223, 158);
}

.score-message-container {
    position: relative;
}

.edit-score-button {
    position: absolute;
    padding-right: 20px;
    right: -46px;
    height: 20px;
    transition: transform 0.2s ease-in-out;
}

.edit-score-button:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.delete-score-confirm {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 242, 221);
    background-color: rgb(166, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    margin-top: 30px;
}

.delete-score-confirm:hover {
    transform: scale(1.05);
    color: rgb(255, 255, 255);
}

@media (max-width: 374px) {
    .delete-score-confirm {
        font-size: 22px;
        padding: 9px 18px;
    }
}